/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole blocco Vue */
#root {
  background-color: black;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* regole header generali */
header {
  background-color: rgb(46, 58, 70);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* regole item header */
.header-flex {
  width: 40%;
}


/* regole per logo  */
.logo {
  font-size: 40px;
  color: red;
}

/* regole per  blocco input */
.search-input {
  text-align: right;
}

/* regole barra ricerca */
#style-input {
  width: 60%;
  height: 30px;
  border: 2px solid black;
}

/* blocco contenitore card */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  padding: 0 0;
}

/* regole titolo introduttivo */
.intro {
  color: red;
  text-align: center;
  width: 100%;
}

/* regole cards */
.item-container {
  width: 30%;
  height: 400px;
  margin: 5px 5px;
  padding: 10px 10px;
  background-color: rgb(46, 58, 70);
  border: 2px solid white;
}

.item-container:hover {
  opacity: 0.6;
}


.resizeimg {
  position: relative;
  height: 90%;
}

.resizeimg > img {
  width: 100%;
  height: 100%;
}

/* blocco informazioni film/serie */
.display-info {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.item-container:hover .display-info {
  display: block;
}

.style-title {
  color: white;
}

.style-text {
  display: block;
  text-transform: capitalize;
}

/* blocco per overview */
.overflow {
  overflow: auto;
  max-height: 30%;
  margin: 10px 0;
}

/* regole stelle */
.fa-star {
  color: rgb(107, 110, 113);
}

.starating {
  color: yellow;
}

.stars {
  margin: 10px 0;
}

/* bandiere */
.flag > img {
  width: 30px;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
