<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>
    <div id="root">
      <header>
        <div class="logo header-flex">
          BOOLFLIX
        </div>
        <div class="search-input header-flex" >
          <input id="style-input" type="search" v-model="queryInput" placeholder="Cerca per parola chiave" v-on:keyup.enter="ricerca">
          <!-- <button type="button" name="button" @click="ricerca">Cerca</button> -->
        </div>

      </header>
      <div class="container" >
        <div class="intro">
          <h1 v-show="showIntro">Tanti Film e Serie TV!</h1>
        </div>
        <div class="item-container" v-for="film in libreriaMovie">
          <div class="resizeimg">
            <img v-if="film.poster_path" :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" alt="Copertina" class="resize-img">
            <img v-else src="img/notfound.jpg" alt="notfound">
            <h3 class="style-title">Titolo: {{film.title}}</h3>
            <div class="display-info">
                <h3 class="style-title"> Titolo: {{film.title}}</h3>
                <h4 class="style-text"> Titolo originale: {{film.original_title}}</h4>
                <p class="overflow"> Trama: {{film.overview}}</p>
                <div class="flag">
                  <img  alt="italia"  v-if="film.original_language === 'it'" src="img/italy.svg">
                  <img  alt="UK"  v-else-if="film.original_language === 'en'" src="img/en.svg">
                  <img  alt="germania"  v-else-if="film.original_language === 'de'" src="img/germany.svg">
                  <img  alt="spagna"  v-else-if="film.original_language === 'es'" src="img/spain.svg">
                  <img  alt="russia"  v-else-if="film.original_language === 'ru'" src="img/russia.svg">
                  <img  alt="japan"  v-else-if="film.original_language === 'ja'" src="img/japan.svg">
                  <img  alt="nl"  v-else-if="film.original_language === 'nl'" src="img/nl.svg">
                  <span class="style-text" v-else> Lingua: {{film.original_language}}</span>
                </div>
                <div class="stars"> Voto:
                    <i class="fas fa-star" :class="{'starating' : film.vote_average >= 1}"></i>
                    <i class="fas fa-star" :class="{'starating' : film.vote_average >= 3}"></i>
                    <i class="fas fa-star" :class="{'starating' : film.vote_average >= 5}"></i>
                    <i class="fas fa-star" :class="{'starating' : film.vote_average >= 7}"></i>
                    <i class="fas fa-star" :class="{'starating' : film.vote_average >= 9}"></i>
                </div>
            </div>
          </div>
        </div>
        <div class="item-container" v-for="serie in libreriaSerie">
          <div class="resizeimg">
            <img v-if="serie.poster_path" :src="'https://image.tmdb.org/t/p/w185/' + serie.poster_path" alt="Copertina">
            <img v-else src="img/notfound.jpg" alt="notfound">
            <h3 class="style-title">Titolo: {{serie.name}}</h3>
            <div class="display-info">
              <h3 class="style-title"> Titolo: {{serie.name}}</h3>
              <h4 class="style-text"> Titolo originale: {{serie.original_name}}</h4>
              <p class="overflow"> Trama: {{serie.overview}}</p>
              <div class="flag">
                  <img  alt="italia"  v-if="serie.original_language === 'it'" src="img/italy.svg">
                  <img  alt="UK"  v-else-if="serie.original_language === 'en'" src="img/en.svg">
                  <img  alt="germania"  v-else-if="serie.original_language === 'de'" src="img/germany.svg">
                  <img  alt="spagna"  v-else-if="serie.original_language === 'es'" src="img/spain.svg">
                  <img  alt="russia"  v-else-if="serie.original_language === 'ru'" src="img/russia.svg">
                  <img  alt="japan"  v-else-if="serie.original_language === 'ja'" src="img/japan.svg">
                  <img  alt="nl"  v-else-if="serie.original_language === 'nl'" src="img/nl.svg">
                  <span class="style-text" v-else> Lingua: {{serie.original_language}}</span>
              </div>
              <div class="stars"> Voto:
                <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 1}"></i>
                <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 3}"></i>
                <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 5}"></i>
                <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 7}"></i>
                <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 9}"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- javascript -->
    <script type="text/javascript" src="js/script.js">
    </script>

  </body>
</html>
