<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>
    <div id="root">
      <header>
        <div class="logo header-flex">
          BOOLFLIX
        </div>
        <div class="search-input header-flex" >
          <input id="style-input" type="search" v-model="queryInput" placeholder="Cerca per parola chiave" v-on:keyup.enter="ricerca">
          <!-- <button type="button" name="button" @click="ricerca">Cerca</button> -->
        </div>

      </header>
      <div class="container" >
        <div class="item-container" v-for="film in libreriaMovie">
            <img v-if="film.poster_path" :src="'https://image.tmdb.org/t/p/w185/' + film.poster_path" alt="Copertina">
            <img v-else src="img/notfound.jpg" width="185" alt="notfound">
            <h3 class="style-title">{{film.title}}</h3>
            <h4 class="style-text"> {{film.original_title}}</h4>
            <div class="flag">
              <img  alt="italia"  v-if="film.original_language === 'it'" src="img/italy.svg">
              <img  alt="UK"  v-else-if="film.original_language === 'en'" src="img/en.svg">
              <img  alt="germania"  v-else-if="film.original_language === 'de'" src="img/germany.svg">
              <img  alt="spagna"  v-else-if="film.original_language === 'es'" src="img/spain.svg">
              <img  alt="russia"  v-else-if="film.original_language === 'ru'" src="img/russia.svg">
              <img  alt="japan"  v-else-if="film.original_language === 'ja'" src="img/japan.svg">
              <img  alt="nl"  v-else-if="film.original_language === 'nl'" src="img/nl.svg">
              <span class="style-text" v-else>{{film.original_language}}</span>
            </div>
            <!-- <span class="style-text">{{film.vote_average}}</span> -->
            <div class="">
              <i class="fas fa-star" :class="{'starating' : film.vote_average >= 1}"></i>
              <i class="fas fa-star" :class="{'starating' : film.vote_average >= 3}"></i>
              <i class="fas fa-star" :class="{'starating' : film.vote_average >= 5}"></i>
              <i class="fas fa-star" :class="{'starating' : film.vote_average >= 7}"></i>
              <i class="fas fa-star" :class="{'starating' : film.vote_average >= 9}"></i>
            </div>
        </div>
        <div class="item-container" v-for="serie in libreriaSerie">
            <img v-if="film.poster_path" :src="'https://image.tmdb.org/t/p/w185/' + film.poster_path" alt="Copertina">
            <img v-else src="img/notfound.jpg" width="185" alt="notfound">
            <h3 class="style-title"> {{serie.name}}</h3>
            <h4 class="style-text">{{serie.original_name}}</h4>
            <div class="flag">
              <img  alt="italia"  v-if="serie.original_language === 'it'" src="img/italy.svg">
              <img  alt="UK"  v-else-if="serie.original_language === 'en'" src="img/en.svg">
              <img  alt="germania"  v-else-if="serie.original_language === 'de'" src="img/germany.svg">
              <img  alt="spagna"  v-else-if="serie.original_language === 'es'" src="img/spain.svg">
              <img  alt="russia"  v-else-if="serie.original_language === 'ru'" src="img/russia.svg">
              <img  alt="japan"  v-else-if="serie.original_language === 'ja'" src="img/japan.svg">
              <img  alt="nl"  v-else-if="serie.original_language === 'nl'" src="img/nl.svg">
              <span class="style-text" v-else>{{serie.original_language}}</span>

            </div>
            <!-- <span class="style-text">{{serie.vote_average}}</span> -->
            <div class="">
              <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 1}"></i>
              <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 3}"></i>
              <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 5}"></i>
              <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 7}"></i>
              <i class="fas fa-star" :class="{'starating' : serie.vote_average >= 9}"></i>
            </div>
        </div>
      </div>
    </div>

    <!-- javascript -->
    <script type="text/javascript" src="js/script.js">
    </script>

  </body>
</html>
